a:link{
    color:black;
    background-color: yellow;
}

a:active{
    color: brown;
    background-color: purple;
}

a:visited{
    color: aqua;
    background-color: antiquewhite;
}

input[type="checkbox"]:checked{
    height: 150px;
    width: 150px;
    accent-color: red;
}

input[type="radio"]:checked{
    height: 150px;
    width: 150px;
    accent-color: red;
}

input[type="text"]:focus{
    height: 50px;
    width: 150px;
    color: red;
}

button:hover{
    background-color: red;
    transition-duration: 4s;
}